{extend name="AdminPublic:public"}
{block name="title"}模板管理{/block}
{block name="aa"}
<style>
    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {display: inline;}


    .bar1 input {
        border: 1px solid rgb(240, 240, 245);
        width: 90%;
        height: 35px;
        margin-left : 10px;
        margin-bottom :10px;
    }



</style>


<div class="panel panel-default">
    <div class="panel-bd">
        <div class="panel panel-primary">
            <div class="panel-hd"></div>
            <div class="panel-bd">

                <section class="page-hd">
                    <header>
                        <h2 class="title">模板管理</h2>
                        <p class="title-description">
                            <a href="add.html"><button class="btn btn-warning add">添加模板</button></a>

                        </p>
                    </header>
                    <hr>
                </section>

                <div class="search bar1">
                    <form action="/template/index" method="get">
                        <input type="text" placeholder="请输入模板名称" name="name" value="{$select}">
                        <button type="submit" class="btn btn-primary-outline xx">搜索</button>
                    </form>
                </div>

                <table class="table table-bordered table-striped mb-15" id="tableExcel">
                    <thead>


                    <tr>
                        <th>id</th>
                        <th>
                            模板分类

                            <select name="cates" onchange="location.href=this.options[this.selectedIndex].value;">

                                <option calss="xx">--请选择--</option>
                                {foreach name='cates' item='vo'}
                                <option value ="/template/index/?cates={$vo['cates']}">{$vo.cates}</option>
                                {/foreach}
                            </select>
                        </th>
                        <th>模板名称</th>
                        <th>模板封面</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"}
                    <tr class="cen">
                        <td>{$a++}</td>
                        <td>
                            {$vo.cates}
                        </td>
                        <td>{$vo.name}</td>

                        <td><img src="{$vo.img}" style="width: 100px;height: 100px"></td>
                        <td>
                            <a href="/template/see?id={$vo.id}" target="_blank"><button class="btn btn-primary edit"   name="">查看</button></a>
                            <a href="/template/edit?id={$vo.id}"><button class="btn btn-primary edit"  name="">编辑</button></a>
                            <a href="/template/delete?id={$vo.id}"><button class="btn btn-danger del" name="">删除</button></a>
                                <!--<button class="btn btn-danger del" id="id"   value="{$vo.id}" name="id">删除</button>-->

                        </td>
                    </tr>
                    {/volist}

                    </tbody>
                </table>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>



<script>

    // //删除
    // $(".del").click(function () {
    //
    //     var id = $("#id").val();
    //     // alert(id);
    //     var ss = $(this).parents('tr');
    //     // alert(ss);
    //     // console.log(ss);
    //     layer.confirm('请确认该操作', ['确认', '取消'], function () {
    //         $.ajax({
    //             url: '/template/delete',
    //             type: 'get',
    //             data: { id: id },
    //             success: function (data) {
    //                 // alert(data);
    //                 if (data.code == 200) {
    //                     ss.remove();
    //                     layer.msg(data.message, { icon: 6, time: 900 });
    //
    //                 }
    //             },
    //             error: function (e) {
    //
    //             }
    //
    //         })
    //     })
    // });

    //添加管理员
    // $('.add').click(function () {
    //     $.get('/template/add', {}, function (data) {
    //
    //
    //         layer.open({
    //             type: 1,
    //             title: '添加管理员',
    //             skin: 'layui-layer-demo', //加上边框
    //             area: ['45%', '90%'], //宽高
    //             content: data
    //         });
    //
    //     });
    // });



    // //修改管理员信息
    // $('.edit').click(function () {
    //     //获取id
    //     var id = $(this).attr('name');
    //     // alert(id);
    //     $.ajax({
    //         url: '/template/edit',
    //         typr: 'get',
    //         data: { id: id },
    //         success: function (data) {
    //
    //
    //
    //             layer.open({
    //                 type: 1,
    //                 title: '管理员修改',
    //                 skin: 'layui-layer-demo', //加上边框
    //                 area: ['800px', '700px'], //宽高
    //                 content: data
    //             })
    //             // console.log(data);
    //         },
    //         error: function (e) {
    //             console.log(e);
    //         }
    //
    //     })
    // });



</script>


{/block}