<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择模板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link rel="stylesheet" href="/static/moban/css/choose_template.css">
</head>
<body>
<form method="post" action="/apps/show?id={$sid}">
    <div class="wrap">
        <div class="tabs">
            {foreach $type as $vo}
            <a href="#" hidefocus="true" class="active">{$vo}</a>
            {/foreach}
        </div>
        {foreach name="template" item="row"}
        <div class="swiper-container">

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="content-slide">
                        <ul>
                            {foreach name="row['template']" item="so"}
                            <a href="/apps/see?id={$so.id}" target="_blank">
                                <li class="kids_list">
                                    <img src="{$so.img}" alt="">
                                    <p>{$so.name}</p>

                                    <!--<button>查看</button>-->

                                </li>
                            </a>
                            {/foreach}
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">

                    </div>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
</form>
</body>
<script src="/static/moban/js/jquery-1.10.1.min.js"></script>
<script src="http://www.lanrenzhijia.com/ajaxjs/idangerous.swiper.min.js"></script>
<script>
    var tabsSwiper = new Swiper('.swiper-container', {
        speed: 500,
        onSlideChangeStart: function () {
            $(".tabs .active").removeClass('active');
            $(".tabs a").eq(tabsSwiper.activeIndex).addClass('active');
        }
    });

    $(".tabs a").on('touchstart mousedown', function (e) {
        e.preventDefault()
        $(".tabs .active").removeClass('active');
        $(this).addClass('active');
        tabsSwiper.swipeTo($(this).index());
    });

    $(".tabs a").click(function (e) {
        e.preventDefault();
    });
</script>
</html>